[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
eel = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
init = "pwsh scripts/init.ps1"
start = "python main.py"
build = 'python -m eel main.py web/dist --onefile --noconsole'