[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-oauthlib = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python get_twtr_image.py"
build = "pyinstaller --onefile get_twtr_image.py"